.reviews-wrapper {
  background-color: hsl(355, 67%, 93%);
}

.reviews {
  padding: 5rem 0;
}

.review-card {
  background-color: #fafafa;
}

.card {
  height: 100%;
}

.card-img {
  object-fit: cover;
  /* height: 40vh; */
  width: 100%;
}

.current-menu {
  background-color: hsl(0, 0%, 98%);
}

.footer {
  background-color: #fafafa;
  padding: 4rem 0 0 0;
}

@media all and (max-width: 768px) {
  .banner {
    background-color: hsl(356, 69%, 54%);
    color: #fafafa;
    height:max-content!important;
    padding-bottom: 4rem;

  }

  .hide-on-mobile {
    display: none!important;
  }
  .banner-image {
    border: none!important;
    padding: 4rem;
  }

  


}


body {
  margin: 0;
  padding: 0;
}

.side-nav {
  width: auto;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
  text-align: left;
  padding: 2rem;
}
